@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.purple {
    color: #6c63ff;
}

.orange{
    color: #ff5757;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.container {
    padding: 50px 0;
    width: 100%;
}

a {
    display: inline;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #fff;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover--effext--black:after {
    background-color: #242424;
}

.link__hover--effect:hover:after {
    left: 0;
    width: 100%;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

#personal-logo {
    width: 170px;
    height: 170px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

.fa-film {
    font-size: 20px;
}

#landing-page {
    background-color: #6c63ff;
    height: 350px;
}


/* SEARCH */

.search__section {
    min-height: 100vh;
}

.search__container {
    min-height: 65vh;
}

.search__row {
    flex-direction: column;
    padding: 60px 32px 10px;
    text-align: center;
    display: flex;
    position: relative;
}

.search__title {
    font-size: 50px;
    margin: 0 auto;
    max-width: 90%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.search__title,
.search__sub-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    z-index: 2;
}

.input__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ff5757;
    color: black;
    display: inline-block;
    height: 50px;
    line-height: 20px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 50%;
    font-size: 24px;
    padding-left: 25px;
}

.btn {
    border: 1px solid #ff5757;
    background-color: #ff5757;
    box-shadow: 7px 7px 14px rgb(79, 5, 139);
    cursor: pointer;
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
}

.fa-magnifying-glass {
    overflow: visible;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
}

/* MOVIE PAGE */

#movie__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #movie__main {
    flex: 1;
  }
  
  .movie__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .movie__header--title {
    margin-bottom: 0;
  }
  
  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }
  
  .movie__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #6c63ff;
  }
  
.movie__loading--spinner {
    display: none !important;
}

.movie__loading .movie__loading--spinner {
    display: block !important;
}

  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }

  @keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
  }